<div class="narrow-wrapper">
<h2>¿Olvidaste tu contraseña?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>
	<br />
  <div><%= f.submit "Enviar instrucciones para resetear la contraseña", :class => ['btn', 'btn-lg', 'btn-primary', 'btn-block'] %></div>
  <br />
<% end %>

<%= render "devise/shared/links" %>
</div>
